<div class="container" *ngIf="auth.isAuthenticated$ | async">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()" *ngIf="isPhone() ? true : false"><mat-icon>menu</mat-icon></button>
    <div class="img-container">
      <img [src]="logoPath" />
    </div>
    <!-- <h1 class="app-name">Appreeze</h1> -->

    <span class="spacer"></span>
  
    <button
      type="button"
      mat-icon-button
      routerLink="/account">
      <mat-icon>account_circle</mat-icon>
    </button>
    <span class="account" *ngIf="auth.user$ | async as user">
      <span>{{ user.name }}</span>
    </span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #drawer [mode]="isPhone() ? 'over' : 'side'" [opened]="isPhone() ? false : true">
      <mat-nav-list>
        <div>
          <a *ngFor="let person of labels" mat-list-item routerLink={{person.path}} routerLinkActive="selected">
            <mat-icon aria-hidden="false" aria-label="home icon">{{person.icon}}</mat-icon>{{person.label}}
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> 
  
<div *ngIf="(auth.isAuthenticated$ | async) === false">
  <mat-toolbar color="primary">
    <span>Appreeze</span>
  
    <span class="spacer"></span>
  
    <button mat-button (click)="loginWithRedirect()">
        Log in
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>