.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-toolbar {
  height: 40px;
}

.mat-list-item {
  height: 40px !important;
  margin-bottom: 5px !important;
}

.mat-list-item:hover,
.mat-list-item:focus {
  background-color: #E3F2FD;
}

.sidenav-container {
  background-color: #F3E5F5;
  flex: 1;
}

.img-container {
  width: 50px;
  height: 31px;
  padding-right: 10px;
}

.img-container img {
  width: 100%;
  height: auto;
}

.sidenav {
  width: 200px;
}
  
.spacer {
  flex: 1 1 auto;
}
  
.selected {
  color: #2196F3;
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  background-color: #E3F2FD;
}
  
.nav-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.account {
  font: 400 14px / 20px Roboto, "Helvetica Neue", sans-serif;
}