<div class="container" *ngIf="auth.isAuthenticated$ | async">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()" *ngIf="isPhone() ? true : false"><mat-icon>menu</mat-icon></button>
    <div class="img-container">
      <img [src]="logoPath" />
    </div>
    <h1 class="app-name">Appreeze</h1>

    <span class="spacer"></span>
  
    <button
      type="button"
      mat-icon-button
      routerLink="/account">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #drawer [mode]="isPhone() ? 'over' : 'side'" [opened]="isPhone() ? false : true">
      <mat-nav-list>
        <div>
          <!--(click)="drawer.toggle()"  -->
          <a mat-list-item routerLink="/dashboard" routerLinkActive="selected">
            <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>Dashboard
          </a>
          <a mat-list-item routerLink="/calendar" routerLinkActive="selected">
            <mat-icon aria-hidden="false" aria-label="home icon">perm_contact_calendar</mat-icon>Calendar
          </a>
          <a mat-list-item routerLink="/request" routerLinkActive="selected">
            <mat-icon aria-hidden="false" aria-label="home icon">find_in_page</mat-icon>Request
          </a>
          <a mat-list-item routerLink="/wallet" routerLinkActive="selected">
            <mat-icon aria-hidden="false" aria-label="home icon">account_balance</mat-icon>Wallet
          </a>
          <a mat-list-item routerLink="/logout" routerLinkActive="selected">
            <mat-icon aria-hidden="false" aria-label="home icon">exit_to_app</mat-icon>Logout
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> 
  
<div *ngIf="(auth.isAuthenticated$ | async) === false">
  <mat-toolbar color="primary">
    <span>Appreeze</span>
  
    <span class="spacer"></span>
  
    <button mat-button (click)="loginWithRedirect()">
        Log in
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>